.validation-container {
    max-width: auto; 
    margin: 20px auto;
    margin-top: 150px; 
    padding: 20px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  7px 7px 98px #d8d6d6,-7px -7px 98px #ffffff;
    overflow: hidden;
}
.valid-head{
    text-align: center;
    color: rgb(58, 180, 140);
    padding: 50px;
    font-size:  38px;
}
.valid-feedback{
    padding: 50px;
}
.valid-feedback h2{
    font-weight: bold;
    color: #058f28;
}